{% extends 'frontend/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<body>
    <div class="container mx-auto px-4 py-2">
        <h1 class="text-3xl font-bold mt-4 text-center">Welcome to Orbutuaries</h1>
        <div class="container mx-auto flex flex-wrap justify-between">
            <div class="w-full sm:w-1/2 md:w-1/4 p-2">
                <img src="https://via.placeholder.com/300" alt="placeholder" class="rounded-lg">
                <p>Hello here</p>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-2">
                <img src="https://via.placeholder.com/300" alt="placeholder" class="rounded-lg">
                <p>Hello here</p>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-2">
                <img src="https://via.placeholder.com/300" alt="placeholder" class="rounded-lg">
                <p>Hello here</p>
            </div>
            <div class="w-full sm:w-1/2 md:w-1/4 p-2">
                <img src="https://via.placeholder.com/300" alt="placeholder" class="rounded-lg">
                <p>Hello here</p>
            </div>
        </div>
</body>
   
{% endblock %}
